*{margin:0;padding:0;}
.content{
	font: 14px/1.5 PingFangSC-Regular,"Microsoft YaHei","\5b8b\4f53",arial,helvetica,sans-serif,tahoma;
  color: #333;
}
.header{
	width:100%;
	height:70px;
	border:0;
}
.footer{
	width:100%;
	height:420px;
	border:0;
}
.content>div{
	margin:0 auto;
}
ul,li{list-style:none;}
a{text-decoration: none;
	color: #333;
}
.btn{
	text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    font-size: 18px;
    border:1px solid #1B88EE;
    color: #fff;
    background-color: #1B88EE;
    padding: 12px 53px;
    margin-right: 20px;
}
.btn:hover{
    background-color: #2F97F9;
}
.select{
  -moz-user-select: none; /*mozilar*/
  -webkit-user-select: none; /*webkit*/
  -ms-user-select: none; /*IE*/
  user-select: none;
}
.wt-nav-side {
  position: fixed;
  width: 60px;
  right: 10px;
  bottom: 80px;
  height: 300px;
}
.wt-nav-side .nav-list {
  box-shadow: 0 0 10px #e9e9ea;
}
.wt-nav-side .nav-list li {
  background-color: #fff;
  height: 60px;
  line-height: 60px;
}
.item-left{
  width: 180px;
  height: 60px;
  padding-left: 20px;
  color: #fff;
}

.item-phone-wrap>.item-left{
  background-color: #333;
}
.item-service-wrap>.item-left{
  background-color:#36D1AE;
}
.item-cart-wrap>.item-left{
  background-color:#1B88EE;
}
.item-phone-wrap>.item-left>img,
.item-service-wrap>.item-left>img,
.item-cart-wrap>.item-left>img{
  float: right;
  margin-top:15px;
  margin-right: 15px;
}

.wt-nav-side li div>.item-left{
  display: none;
}
.wt-nav-side .nav-list .item-right {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
}
.wt-nav-side .nav-list img{
  vertical-align: middle;
}
.item{
  text-align: center;
}
.fr{
  float: right;
}
.item-qrcode-wrap{
  position: relative;
}
.item-qrcode-wrap>.item-left{
  position: absolute;
  right: 78px;
  width: 120px;
  height: 140px;
  background: #fff;
  border-radius: 4px;
}
.item-qrcode-wrap>.item-left>img{
  position: absolute;
  top: 6px;
  right: 5px;
  width: 130px;
  height: 130px;
}
