header>iframe{
  padding-bottom: 4px;
  box-shadow: 0 0 10px #dedede;
  z-index: 2;
}
.subject{
  background: #f5f5f5;
}
.content{
  background: #fff;
}
.pro{
  width: 1240px;
  margin: 0 auto;
  display: flex;
  padding:39px 0 41px ;
}
.pro>div:first-child{
  width: 450px;
  margin-right:42px ;
}
.pro>div:nth-child(2){
  width: 670px;
  padding: 0;
}
.pro>div>img:first-child{
  width: 450px;
  height: 450px;
  margin-bottom: 8px;
}
.pro>div>img:nth-child(2){
  width: 78px;
  height: 78px;
  border:1px solid #1B88EE;
}
.pro>div:nth-child(2)>div:first-child>h3{
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 20px;
}
.pro>div:nth-child(2)>div:first-child>p{
  color: #666;
}
.pro>div:nth-child(2)>div:first-child>p>a{
  color: #ACB0BB;
  margin-left:18px;
  text-decoration:underline;
}
.list{
  margin: 37px 50px 50px 0;
  padding: 30px 20px 48px;
  background: #fafafa;
}
.price{
  font-size: 32px;
  color: #FF5E58;
  margin-bottom: 5px;
}
.price>span{
  font-size:20px;
}
.list>div:nth-child(2){
  width: 260px;
  display: flex;
}
.list>div:nth-child(2)>ul>li{
  color: #666;
  line-height: 31px;
}
.list>div:nth-child(2)>ul:first-child{
  flex: 0 0 25%;
}
.list>div:nth-child(2)>ul:nth-child(2){
  flex: 0 0 75%;
}
.list>div:nth-child(2)>ul:nth-child(2) img{
  vertical-align: middle;
  margin-bottom: 2px;
}
.count{
  width: 118px;
  height: 23px;
  border: 1px solid #AAAEB9;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}
.count>input{
  padding: 0 3px;
  width: 32px;
  text-align: center;
  height:23px;
  line-height: 23px;
  border: 0;
  font-size: 15px;
}
.count>a{
  cursor: pointer;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  line-height: 22px;
  vertical-align: middle;
  padding-left: 4px;
  padding-right: 4px;
}
.count>a:first-child{
  border-right: 1px solid #AAAEB9;
}
.fail{
  cursor: default;
  color: #CDCFD5;
}
.count>a:nth-child(3){
  border-left: 1px solid #AAAEB9;
}
.pro>div:nth-child(2)>div:last-child{
  margin-top: 68px;
}
.pro>div:nth-child(2)>div:last-child>a:nth-child(2){
  color:#1B88EE;
  background: #fff;
  padding: 12px 44px;
}
.pro>div:nth-child(2)>div:last-child>a:nth-child(2):hover{
  background-color: #1B88EE;
  border:1px solid #1B88EE;
  color: #fff;
}
.pro_detail{
  width: 1240px;
  margin: 0 auto;
  padding: 20px 55px;
}
.pro_detail>div{
  width: 750px;
  padding:0 85px;
  background: #fff;
}
.pro_detail>div>img{
  width: 750px;
}