		.content{
			width: 1240px;
			margin:0 auto;
		}
		.banner{
			height:600px;
			background-image:url('../img/index/banner.jpg');
			background-repeat:no-repeat;
			background-position:center center;
			background-size:auto 100%;
		}
		.header{
			height:40px;
			padding:21px 0;
		}
		.header-left>img{
			width:243px;
			margin-left:60px;
			cursor:pointer;
		}
		.header-right{
			width: 380px;
			height: 38px;
		}
		.fr{
			float: right;
		}
		.wt-head-menu{
			position: absolute;
			right: 80px;
		}
		.wt-menu-btn{
			background-color: transparent;
			color: #fff;
			border: 1px solid #fff ;
			width: 145px;
   	 	font-size: 14px;
    	line-height: 34px;
    	height: 34px;
			margin-top: 2px;
			padding: 8px 33px;
			border-radius: 20px;
			margin-left: 15px;
		}
		.wt-menu-btn>img{
			margin-right: 10px;
		}
		.wt-menu-btn:hover{
			background: #fff;
			color: #1B88EE;
		}
		.wt-head-menu>div>img{
			display: inline-block;
			width: 160px;
			height: 160px;
		}
		.wt-head-menu>a:first-child{
			position: relative;
		}
		.wt-head-menu>div{
			position: absolute;
			right:170px;
			top: 60px;
			max-height: 580px;
			overflow: auto;
			background-color: #fff;
			width: 375px;
			min-height: 197px;
			text-align: center;
			margin: 0 auto;
			padding-top: 38px;
			display: none;
		}
		.cart-list-empty>p{
			font-size: 18px;
			line-height: 20px;
			margin: 20px 0 30px;
			color: #1B88EE;
			text-align: center;
			padding-bottom: 30px;
			}	
		/* 轮播图 */
		.mid{
			position: relative;
			background:#fafafa;
			padding: 50px;
			overflow: hidden;
		}
		.content{
			display: flex;
			overflow: hidden;	
			transition:all .5s linear;
		}
		.content1{
			display: flex;
			overflow: hidden;	
		}
		#ul-idxs{
      width:100px;
      margin:0 auto;
      position:absolute;
      bottom:70px;
      left:50%;
      margin-left:-50px;
    }
    #ul-idxs>li{
      float:left;
      width:10px; height:10px;
      background-color: #9E9E9E;;
      border-radius:5px;
      margin:0 5px;
      cursor:pointer;
		}
		#ul-idxs>li.active{
      background-color:#1B88EE;;
		}
		#btn-left,#btn-right{
      width:66px;
			height:66px;
			background-color: #000;
			border-radius: 50%;
      position:absolute;
      top:370px;
      background-repeat:no-repeat;
      background-position:center;
			cursor:pointer;
			opacity: .2;
    }
    #btn-left{
      left:35px;
      background-image:url('../img/index/arrow-left.png');
    }
    #btn-right{
      right:80px;
      background-image:url('../img/index/arrow-right.png');
    }
    #btn-left:hover,#btn-right:hover{
			opacity: .4;
    }
		.carousel{
			width: 1240px;
			height: 624px;
			background: #fff;
			display: flex;
			padding: 50px 50px 50px 0;
		}
		.carousel:hover{
			box-shadow: 0px 0px 15px 10px #d8d8d8;
		}
		.desc{
			flex:0 0 45%;
			background:#fff;
		}
		.carousel>div:nth-child(2)>img{
			width: 520px;
		}
		.desc>ul{
			margin:75px 75px 0;
		}
		li>h2{
			font-size: 35px;
    	font-weight: 400;
    	color: #333;
		}
		li:nth-child(2)>h2{
			margin-bottom: 15px;
		}
		.desc>ul>li>p{
			line-height: 25px;
		}
		.box{
			width: 466px;
			height:169px;
			background:#fbfbfc;
			margin:110px 42px 0;
			padding:38px 35px; 
		}
		li>h3{
			font-size: 27px;
			font-weight: 400;
		}
		.box>ul>li:nth-child(2)>p{
			height: 65px;
			color:#999;
		}
		.box>ul>li:nth-child(3)>p{
			color: #1B88EE;
    	font-size: 30px;
		}
		.box>ul>li:nth-child(3)>p>span:first-child{
			font-size: 22px;
		}
		.box>a{
			width: 128px;
			height: 38px;
			text-align: center;
			line-height: 38px;
			border-radius: 20px;
			float:right;
			margin-right:35px;
			margin-top:-45px;
			border-color: #1B88EE;
    	color: #fff;
    	background-color: #1B88EE;
		}
		/* 轮播图 */
		.bottom{
			background-color: #fff;	
			width: 1240px;
			margin:0 auto;
		}
		.division>div:first-child{
			padding: 65px 50px;
		}
		.division>div>p:first-child{
			font-size: 40px;	
		}
		.division>div>p:nth-child(2){
			font-size: 20px;
			color: #999;
		}
		.division>ul{
			width: 1240px;
			display: flex;
			flex-wrap:wrap;
			padding: 0 50px 0 0;
		}
		.division>ul>li{
			display: flex;
			flex-wrap: wrap;
			flex: 0 0 33%;
		}
		.division>ul>li:nth-child(2){
			flex: 0 0 66%;
		}
		.division>ul>li>a{
			margin-bottom: 25px;
			transition: transform .2s;
		}
		.division>ul>li>a:hover{
			transform: scale(1.05);
		}
		.division>ul>li:nth-child(2)>a:first-child,.division>ul>li:nth-child(2)>a:nth-child(3){
			margin-right: 30px;
		}
		.division>ul>li:first-child>a,.division>ul>li:nth-child(3)>a{
			margin-right: 30px;
		}
		.division>ul>li>a>img{
			width: 390px;height: 390px;
		}
		.division>ul>li:first-child>a>img{
			height: 810px;
		}
		.division>ul>li:last-child>a>img{
			width: 815px;
		}
		






		