.subject{
	height:635px;
  background-image: url(../img/login/login-bg.jpg);
  background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:auto 100%;
}
.content{
	width: 1240px;
	margin: 0 auto;
	position: relative;
}
.content>div{
	width: 360px;
	height: 408px;
	padding: 30px 40px;
	position: absolute;
	right: 0px;
	top:78px;
	background: #fff;
}
.tab{
	margin-left: 20px;
}
.tab li{
	float: left;
}
.tab li a{
  display:inline-block;
	width: 155px; 
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 24px;
}
#container{
	position: relative;
}
#content1,#content2{
	width: 100%;
	height: 100px;
	padding:30px 5px;
	position: absolute;
	top: 60px;
	left: 0;
}
#container input{
	margin-bottom: 50px;
	padding: 10px;
	border: none;
	outline: none;
	border-bottom: 1px solid #ccc;
	width: 320px;
}
#content1>a{
	margin: 0 auto;
	display: block;
	width: 220px;
	height: 23px;
  line-height: 23px;
}
#content1>p{
	margin-top: 40px;
	color: #999;
  font-size: 12px;
	text-align: center;
}
#content1>p>a{
color: #1B88EE;
}
.tab li:first-child,#content1{
	background-color: #fff;
}
.tab li:first-child+li,#content2{
	background-color: #fff;
}

.footer-bottom{
	width: 100%;
	padding: 50px 0 0;
	color: #565657;
	font: 12px/1.5 PingFangSC-Regular,"Microsoft YaHei","\5b8b\4f53",arial,helvetica,sans-serif,tahoma;
}
.footer-bottom>p{
	line-height: 14px;
	text-align: center;
	margin-bottom: 10px;
}
.footer-bottom>p:nth-child(2){
	margin-bottom: 0;
}
.footer-bottom>p>img{
	vertical-align: bottom;
}
