.subject{
	background: #f5f5f5;
	min-height: 675px; 
	padding-bottom: 20px;
}
.content{
	height: 432px;
	background-image:url(../img/shopping-cart/cart-bg.jpg);
	background-repeat: no-repeat;
	background-position:center; 
	background-size:auto 100%;
	padding: 0 55px 40px;
	
}
.content>div{
  width: 1240px;
	margin: 0 auto;
}
.cart-head{
	width: 1240px;
	font-size: 30px;
	padding-bottom: 70px;
	padding-top: 60px;
}
.cart-list{
  width: 1240px;
  min-height: 260px;
	background-color: #fff;
  text-align: center;
	padding: 0 0 150px;
}
.title{
  height: 60px;
  background-color: #F8F8F8;
  line-height: 60px;
  padding: 0 20px 0;
}
ul{
  display: flex;
}
ul>li{
  text-align: left;
}
ul>li:first-child{
  flex: 0 0 3%;
}
ul>li:nth-child(2){
  flex: 0 0 10%;
}
ul>li:nth-child(3){
  flex: 0 0 26%;
}
ul>li:nth-child(4){
  flex: 0 0 12%;
}
ul>li:nth-child(5){
  flex: 0 0 18%;
}
ul>li:nth-child(6){
  flex: 0 0 25%;
}
ul>li:nth-child(7){
  flex: 0 0 6%;
}
ul>li:first-child>input{
  width: 16px;
  height: 16px;
}
.pro{
  padding: 0 20px 0;
}
.pro>ul{
  height: 100px;
  line-height: 100px;
  padding: 20px 0;
}
.pro>ul>li:nth-child(2)>img{
  width: 100px;
  height: 100px;
}
.pro>ul>li:last-child{
  font-size: 28px;
  cursor: pointer;
  width: 14px;
  height: 14px;
  color: #C5C8CF;
}
.pro>ul>li:last-child:hover{
  color: #1B88EE;
}
.total{
  height: 90px;
  background: #fff;
}
.total>div{
  border-top: 1px solid #EBECF0;
  line-height: 90px;
  margin: 0 20px;
}
.total>div>ul>li:nth-child(2){
  flex: 0 0 5%;
}
.total>div>ul>li:nth-child(3)>a:hover{
  cursor: pointer;
  color: #1B88EE;
}
.total>div>ul>li:nth-child(3){
  flex: 0 0 53%;
}
.total>div>ul>li:nth-child(4){
  flex: 0 0 8%;
}
.total>div>ul>li:nth-child(5){
  flex: 0 0 12%;
  font-size: 16px;
  color: #9BA0AF;
  font-weight: 600;
}
.total>div>ul>li:nth-child(6){
  flex: 0 0 12%;
}
.total>div>ul>li:nth-child(6)>button{
  width: 180px;
  border-color: #F14741;
  background-color: #F14741;
  padding-top:0;
  margin-right: 40px;
}
.total>div>ul>li:nth-child(6)>button:hover{
border-color: #FF5E58;
background-color: #FF5E58;
}